[submodule "fish"]
	path = fish
	url = git@github.com:ryankav/fish.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:ryankav/nvim.git
[submodule "git"]
	path = git
	url = git@github.com:ryankav/git.git
