[submodule "fish"]
	path = .config/fish
	url = git@github.com:ryankav/fish.git
[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:ryankav/nvim.git
[submodule "git"]
	path = .config/git
	url = git@github.com:ryankav/git.git
[submodule "dwm"]
	path = .config/dwm
	url = git@github.com:ryankav/dwm.git
